# Copyright (c) 2021-2023 Ishan Pranav. All rights reserved.
# Licensed under the MIT License.

* text=auto
*.manifest binary
*.application binary
*.deploy binary
docs/*.css linguist-detectable
tools/*.xsl linguist-detectable
